body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 500px;
  min-height: 900px;
}

.rm {
  background: rgb(86, 86, 100);
  width: 30px;
  border-radius: 4px;
  color: white;
  border: none;
}

.done {
  text-decoration: line-through;
}

#root {
  background-size: 700px 900px ;
  background-image: url(./background_notebook.jpg);
  background-repeat: no-repeat;
  background-position: center top -50px;
}

.button_add {
  background-color: rgb(88, 88, 129);
  border-radius: 4px;
  margin-left: 20px;
}

.input_add {
  border-radius: 4px;
}
